<section class="no-padding" id="whitepapers">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6 text-center bg-dark" >
              
                <a href="https://vimeo.com/393459786" class="portfolio-box">
                            <div class="project-category text-faded">
                                #Standards
                            </div>
                            <div class="project-name">
                                <i class="fa fa-2x fa-play wow bounceIn text-secondary" data-wow-delay=".3s"></i>
                                Changing 3GPP to help verticals
                            </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://coai.com/sites/default/files/2020-07/Press%20Release-Telecom%20Sector%20Celebrates%2025%20Years%20of%20Mobile%20Telephony.pdf" class="portfolio-box">
                    <img src="/img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                #COAI
                            </div>
                            <div class="project-name">
                                <i class="fa fa-2x fa-file wow bounceIn text-secondary" data-wow-delay=".3s"></i>
                                Telecom Sector Celebrates 25 Years of Mobile Telephony
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6 ">
    <div class="bg-dark">
                <a target="_blank" href="https://www.ericsson.com/49da93/assets/local/mobility-report/documents/2020/june2020-ericsson-mobility-report.pdf" class="portfolio-box">
<!--                     <img src="/img/portfolio/2.jpg" class="img-responsive" alt=""> -->
                     <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">            #Ericsson
                            </div>
                            <div class="project-name">
                                <i class="fa fa-2x fa-file wow bounceIn text-secondary" data-wow-delay=".3s"></i>
                                Mobility Report July 2020
                            </div>
                        </div>
                    </div>
                </a>
                    </div>
            </div>
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</section>
