<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<style>
  .carousel .item {
 }

.item img {
    position: absolute;
    top: 0;
    left: 0;
    margin:auto;
   width:100%;
}
  </style>
<body id="page-top">
  {% include nav.html %}
  
   <section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

              
                <h2 class="section-heading"> {{ page.title }} 
                  {% if page.editlink %} 
                   <a href="{{ page.editlink }}">  <i class="fa fa-edit fa-sm"> </i>  </a> </h2>
                {% else %}
                                 <a href="https://github.com/5gif/www/edit/gh-pages/_articles/{{ page.basename }}.md">  <i class="fa fa-edit fa-sm"> </i>  </a> </h2>
              
                  {% endif %}


                  
              
                <hr class="light">
                  {{ content }}

              
            </div>
        </div>
    </div>
</section>

  {% include contact.html %}
      {% include scripts.html %}
  </body>
</html>

